@color: red;
@textcolor: grey;
@base: 1366px;
@titlefont: Roboto;
@textfont: Open Sans;
@fontsize: 20px;
@opa: 0.8;
body{
	font-family: 'Roboto', 'Open Sans', sans-serif;
	max-width:@base ;
	margin: auto;
}
.title{
	font-family: @titlefont;
	font-size: @fontsize;
	text-align: center;
	padding-top: 105px;
}
.p{
	font-family: @textfont;
	font-size: @fontsize - 6px;
	text-align: center;
	width: 550px;
	margin: auto;
	color: @textcolor;
}
hr.small{
	height: 3px;
	background-color: darkgrey;
	width: 3%;
}
.overlay{
	position: absolute;
	opacity: 0;
	transition: .5s ease;
	background-color: @color;
	color: white;
	text-align: center;
}
header{
	.nav{
		margin-top: 60px;
	}
	b{
		font-family: 'Leckerli One', cursive;
		font-size: @fontsize + 8px;
		color: @color;
	}
	a{
		
		@color: black;
		color: @color;
		float: right;
		font-family: '@textfont', sans-serif;
		font-size: @fontsize - 6px;
		padding-right: 30px;
		&:hover{
			color: @color;
			text-decoration: none;
		}
	}
	.slogan{
		text-align: center;
		padding: 300px 0px;
		h1{
			font-family: @titlefont;
			font-size: @fontsize + 15px;
		}
		p{
			font-family: @textfont;
			font-size: @fontsize - 44px;
		}
	}
	
	.foot{
		img{
		display: block;
		margin: auto;
		}
		text-align: center;
		margin-bottom: 55px;
		span{
			color: @color;
			font-size: @fontsize - 8px;
			font-family: @textfont;
		}
	}
}
/*about*/
.about{
	h5{
		font-family: @titlefont;
		font-size: @fontsize;
		padding-top: 105px;
	}
	hr{
		margin-left: 0px;
		width: 8%;
		margin-top: 20px;
	}
	p{
		font-family: @textfont;
		font-size: @fontsize - 6px;
		padding-top: 40px;
		padding-bottom: 50px;
		line-height: 25px;
		color: @textcolor;
	}
	button{
		font-family: @titlefont;
		font-size: @fontsize - 4px;
	}
}
/*service*/
.service{
	margin-bottom: 75px;
	.intro{
		.p;
		padding-bottom: 60px;
	}
	.col-sm-6{
		border: 3px solid lightgrey;
		border-radius: 15px;
		margin-bottom: 20px;
		color: @textcolor;
		i{
			font-size: 2.5em;
			background-color: @color;
			color: white;
			border-radius: 50%;
			padding: 30px;
			margin-top: 25px;
		}
		.fa.fa-mobile-phone{
				padding: 30px 40px;
			}
		.col-sm-9{
			padding: 40px 0px;
			font-family: @textfont;
			font-size: @fontsize - 6px;
			hr{
				width: 8%;
				margin-left: 0px;
			}
			h5{
				font-family: @titlefont;
				font-size: @fontsize - 4px;
			}
		}
		&:hover{
			background-color: @color;
			color: white;
			i{
				background-color: white;
				color: @color;
			}
		}
	}
	.x{
		margin-left: -20px;
	}
	.y{
		margin-left: 20px;
	}	
}

/*sta*/
.statistics{
	.inside{
		background-color:@color;
		opacity: @opa;
		color: white;
		font-family: @titlefont;
		padding-top: 145px;
		padding-bottom: 115px;
		i,span{	
			font-size: @fontsize + 10px;
		}
		h6{
			font-size: @fontsize - 4px;
			padding-top: 30px;
		}
		hr{
			width: 15%;
			margin-left: 0px;
		}
	}
}

/*step*/
.step{
	p{
		.p
	}
	.row{
		display: flex;
		  justify-content: center;
		  align-items: center;
		  margin-top: 60px;
		 hr{
		 	flex: 1;
			  border: none;
			  height: 1px;
			  background-color: lightgrey;
		 }
		 a{
		 	border: 1px solid lightgrey;
		 	border-radius: 50%;
		 	i{
		 		font-size: 3em;
		 		color: @color;
		 		padding: 25px;
		 	}
		 	.fa.fa-mobile-phone{
		 		padding: 25px 35px;
		 		
		 	}
		 }
		 .phone{
		 	margin-left: 150px;
		 }
		 
		 .ran{
		 	margin-right: 170px;
		 }
	}
	.col-sm-4{
		padding-top: 55px;
		padding-bottom: 80px;
		text-align: center;

		h6{
			font-family: @titlefont;
			font-size: @fontsize - 4px;
		}
		span{
			font-family: @textfont;
			font-size: @fontsize - 6px;
			margin-top: 30px;
			color:@textcolor;
		}
	}
}
/*work*/
.work{
	.container{
		width: @base;
		padding: 0px;
	}
	p{
		.p
	}
	.col-sm-4{
		padding: 0px;
		margin-top: 70px;
		.over{
			.overlay;
			top: 15px;
			bottom: 15px;
			left: 15px;
			right: 15px;
			span{
				font-family: @textfont;
				font-size: @fontsize - 6px;
				border: 1px solid white;
				border-radius: 8px;
				padding: 10px 20px;
				position: absolute;
				top: 130px;
				left: 150px;
			}
		}
		&:hover .over{
			opacity: @opa - 0.2;
		}
	}
}

/*best*/
.best{
		p{
			.p
		}
	.container{
		width: @base;
		background-color: @color;
		color: white;
		margin-top: 60px;
		
		.text{
			padding: 100px 0px;
		}
		h6{
			font-family: @titlefont;
			font-size: @fontsize - 4px;
		}
		hr{
			width: 6%;
			margin-left: 0px;
		}
		span{
			font-family: @textfont;
			font-size: @fontsize - 6px;
		}
		.img{
			padding: 0px;
		}
		.middle{
			position: relative;
			.text{
				padding: 100px 100px;
			}
			img.img-responsive{
				position: absolute;
				right: 0;
			}
		}
	}
}
/*idea*/
.idea{
	.in{
	text-align: center;
	@color: white;
	color: @color;
	background-color: black;
	opacity: @opa;
	padding: 90px 0px 100px;
	h3{
		font-family: @titlefont;
		font-size: @fontsize + 10px;
		font-weight: lighter;
	}
	h5{
		font-family: @titlefont;
		font-size: @fontsize;
		font-weight: lighter;
		padding: 25px 0px 30px;
	}
	button{
		font-family: @textfont;
		font-size: @fontsize - 4px;
		padding: 15px;
	}
	}
}
/*porfolio*/
.porfolio{
	p{
		.p
	}
	.button-group{	
		padding-top: 75px;
		padding-bottom: 55px;
		text-align: center;

		button{
		font-size: @fontsize - 4px;
		border: none;
		background-color: white;
		}
	}
	.container {
			width: @base;
		  display: flex;
		  flex-wrap: wrap;
		  padding: 0px;
		.element-item{
			position: relative;
		}
		.over{
			position: absolute;
			top: 20px;
			right: 20px;
			left: 20px;
			bottom: 20px;
			background-color: @color;
			color: white;
			font-family: @titlefont;
			opacity: 0;
			.o{
				position: absolute;
				top: 55%;
				left: 10%;
			}
			h6{
				font-size: @fontsize;
			}
			span{
				font-size: @fontsize - 4px;
			}
			hr{
				width: 20%;
				margin-left: 0px;
			}
		}
		.element-item:hover .over{
			opacity: @opa - 0.1;
		}

		/* Create four equal columns that sits next to each other */
		.one {
		  flex: 28%;
		  max-width: 28%;
		  padding: 0px;
		  #chai{
		  	height: 498px;
		  }
		  #round{
		  	height: 208px;
		  }
		}
		.two {
		  flex: 36.5%;
		  max-width: 36.5%;
		  padding: 0px;
		  #paper{
		  	height: 247px;
		  }
		}
		.three {
		  flex: 35.5%;
		  max-width: 35.5%;
		  padding: 0px;
		  #line,#inline{
		  	display: inline;
		  }
		}

		.grid img {
		  vertical-align: middle;
		}

		/* Responsive layout - makes a two column-layout instead of four columns */
		@media (max-width: 800px) {
		  .grid {
		    flex: 50%;
		    max-width: 50%;
		  }
		}

		/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
		@media (max-width: 600px) {
		  .grid {
		    flex: 100%;
		    max-width: 100%;
		  }
		}
		}
	
	
	
	}
/*sub*/
.sub{
	.in{
		background-color: @color;
		color: white;
		opacity: @opa;
		padding-bottom:75px;
		h5{
		font-family: @titlefont;
		font-size: @fontsize;
		padding-top: 100px;
		font-weight: lighter;
		}
		hr{
		margin-left: 0px;
		width: 8%;
		margin-top: 20px;
		}
		p{
			font-family: @textfont;
			font-size: 12.53px;
		}
		input{
			background-color: @color;
			border: 1px solid;
			padding: 10px 120px 10px 20px;
			
		}
		::placeholder{
				color: white;
			}
		button{
			background-color: @color;
			border: 1px solid;
			padding: 10px 25px;
			margin-left: -4px;
		}
	}
}
/*team*/
.team{
	
	padding-bottom: 78px;
	.intro{
		.p
	}
	.col-sm-3{
		padding-top: 95px;
		text-align: center;

		h6{
			font-family: @titlefont;
			font-size: @fontsize - 3px;
			padding-top: 35px;
		}
		span{
			font-family: @titlefont;
			font-size: @fontsize - 8px;
		}
		.img{
			position: relative;
		}
		.over{
			.overlay;
			bottom: 15px;
			right: 15px;
			left: 15px;
			background-color: @color;
			color: white;
			padding-bottom: 15px;
			
			p{
				font-family: @titlefont;
				font-size: @fontsize - 9px;
				padding: 30px 20px 10px 20px;
			}
			i{
				border: 1px solid;
				border-radius: 50%;
				padding: 7px 8px;;
				margin: auto;
				margin-left: 5px;
			}
			.fa.fa-facebook{
				padding: 7px 10px;
			}
		}
		.img:hover .over{
			opacity:@opa + 0.2;
		}
		}
}
/*client*/
.client{
	@color: white;	
	color: @color;
	text-align: center;
	.in{
		background-color: #000000;
		opacity: @opa;
		ol{
			margin-bottom: 40px;
			li{
				border-color: red;
				
			}
			.active{
				border-color: red;
				background-color:red;
			}
		}
	.container{
		padding-bottom: 55px;
		h6{
			font-family: @textfont;
			font-size: @fontsize - 2px;
		}
		hr{
			background-color: @color;
		}
		p{
			width: 840px;
			margin: auto;
		}
		img{
			padding: 45px 0px;
			display: block;
			margin: auto;
		}
		h5{
			font-family: @titlefont;
			font-size: @fontsize;
			color: red;
			padding: 45px 0px;
		}
		}
}
}
/*blog*/
.blog{
	#intro{
		.p
	}
	.container{
		margin-top: 100px;
		.col-sm-6{
			position: relative;
			.over{
			  position: absolute;
			  top: 0;
			  bottom: 0;
			  right: 0;
			  height: 100%;
			  width: 50%;
			  background-color: @color;
			  color: white;
			  padding-top: 120px;

			  .inside{
			  	margin-left: 20px;
			  }
			  h6{
			  	font-family: @titlefont;
			  	font-size: 16.01px;
			  }
			  span{
			  	font-family: @titlefont;
			  	font-size: 14.01px;
			  
			  }
			  hr{
			  	height: 1px;
			  	width: 10%;
			  	background-color: white;
			  	margin-left: 0px;
			  	margin-bottom: 20px;
			  	margin-top: 15px;
			  }
			  p, label{
			  	font-family: Open Sans;
			  	font-size: 12.01px;
			  }
			  label{
			  	font-weight: lighter;
			  	margin-left: 10px;
			  }
			 
		}
		}
	}
}
/*pricing table*/
.table{
	@base: 1096px;
	
	.container{
		width: @base;
	}
	p{
		.p
	}
	.panel.panel-default{
		margin-top: 95px;
		&:hover{
			box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
			button{
				background-color:red;
				color: white;
			}
		}
		.panel-heading{
			h5{
			padding: 25px 0px;
			font-size: @fontsize;
			text-align: center;
			}
		}
		.panel-body{
			font-family:@textfont;
			font-size:@fontsize - 7px;
			text-align: center;	
			.list-group{
				margin: -16px;
			}
			}
			.x{
				font-family:@titlefont;
				font-size: @fontsize;
			}
			.y{
				padding: 15px 0px;
			}
		}
		button{
				width: 40%;
				display: block;
				margin: auto;
				margin-top: 25px;
				margin-bottom: 25px;
			}	
}
/*contact*/
.contact{
	font-family: @textfont;
	font-size:@fontsize - 6px;
	p{
		.p
	}
	@base: 915px;
	.container{
		width: @base;
		margin-top: 90px;
		margin-bottom: 85px;
		textarea{
			width: 100%;
			margin-top: 24px;
		}
		input{
			padding: 10px;
			width: 47%;
		}
		#name{
			margin-right: 22px;
		}
		.col-sm-1{
			ul{
				list-style-type: none;
				margin-top: 40px;
				li{
					font-size: 2em;
					color: @color;
					padding: 15px;
				}
			}
		}
		.col-sm-4{
		margin-top: 60px;
			li{
				list-style-type: none;
				font-family: @textfont;
				font-size: @fontsize - 6px;
				color: @textcolor;;
				padding-bottom: 40px;
			}
		}
		button{
		border-radius: 0px;
		width: 27%;
		margin-top: 24px;
		padding: 10px;
		}

	}
	
}
/*footer*/
footer{
	background-color:@color;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: @textfont;
	font-size: @fontsize - 5px;
}
